@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Lo Sentimos!</strong> Se ha presentado un error inesperado
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
